@inherits LayoutComponentBase

<PageTitle>goodrProj</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
                <div class="top-row px-4 auth" style="background:linear-gradient(to right, rgb(5, 39, 103) 0%, #3a0647 70%);border-bottom-width: 0px;">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
